@use "sass:map";

$appColors:(
  "primaryGreen":rgba(29,185,84,1),
  "primaryBlack":rgba(18,18,18,1),
  "secondaryBlack":rgba(33,33,33,1),
  "primaryGrey":rgba(83,83,83,1),
  "secondaryGrey":rgba(179,179,179,1)
);

$navColors:(
    "blackDark":rgba(18,18,18,1),
    "blackTransparent":rgba(18,18,18,0.85)
);

$iconInvertValue:0.6;


@font-face {
  font-family:'Gotham-XLight' ;
  src: url('./fonts/Gotham-XLight.otf');
};
@font-face {
  font-family:'Gotham-Bold' ;
  src: url('./fonts/Gotham-Bold.otf');
};
@font-face {
  font-family:'Gotham-Thin' ;
  src: url('./fonts/Gotham-Thin.otf');
};
$spotifyFonts:(
  'normal':'Gotham-XLight',
  'bold':'Gotham-Bold',
  'thin':'Gotham-Thin',
);

$loadingDuration:2s;

$bannerHeight:5vh;

$navBarHeight:150px;